@use '../config/color';
@use '../config/font';

// Nav- & footer bar styling + background
body {
    -ms-overflow-style: none; // Hide scrollbar IE & Edge
    scrollbar-width: none; // Hide scrollbar Firefox
    margin: 1rem;
    padding: 0;
    font-family: 'thiccboi';
    background-color: color.get-color('background');
    background-image: url("../../../../public/assets/img/home/Background.svg");
    background-position: top right;
    background-repeat: no-repeat;
    color: color.get-color("white");
    header {
        height: 75px;
        nav {
            display: flex;
            align-items: center;
            padding: 1rem;
            .nav-img {
                position: absolute;
            }
            ul {
                display: flex;
                justify-content: center;
                flex-grow: 1;
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    margin: 0 0.5rem;
                    text-transform: uppercase;
                    font-weight: bold;
                  }
                a {
                    text-decoration: none;
                    font-size: 1.2em;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                }
                a:link, a:visited {
                    color: color.get-color("white");
                }
                a:hover {
                    color: color.get-color("nav-green");
                }
                a.current {
                    color: color.get-color("nav-green");
                }
            }
        }
    }
}